<%- include ("header") -%>
<h2>This is the ABOUT page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dolorum nemo aliquid, labore quam nihil dolorem corporis harum rem laudantium hic vitae voluptatem enim fugiat excepturi, non odio illum ex?</p>
<%- include ("footer") -%>